header {
  height: 8rem;
}

@media screen and (max-width: 1000px) {

  header {
    height: 7rem;
  }

}


h1 span {
  color: #14a1e8;
}


.sponsorshipContainers {
  display: flex !important;
  align-items: center !important;
  flex-direction: column !important;
  height: fit-content;
  width: 100%;
  overflow-x: hidden;
  background-color: #ffffff;

  .total {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem 4rem;
    margin-bottom: 7rem;
  }

  .becomeSponz {
    max-width: 1400px;
    background-color: #d5dfef;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    padding: 4%;
    border-radius: 2.5rem;

    @media(max-width: 1100px) {
      margin: 0rem 2rem;
      padding: 2rem;
    }

    p {
      font-family: "Inter";
      color: #000;
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;

      @media(max-width: 600px) {
        font-size: 14px;
        line-height: 26px;
        text-align: left;
      }
    }

    p:first-child {
      padding-bottom: 20px;

      @media(max-width: 600px) {
        padding-bottom: 12px;
      }
    }

    h3 {
      font-size: 40px;
      color: #00275B;
      font-weight: bolder;
      padding-bottom: 30px;

      @media(max-width: 600px) {
        font-size: 30px;
        padding-bottom: 25px;
      }
    }

    .one {
      font-weight: 700px;
      color: #000;
      font-size: 24px;

      @media(max-width: 600px) {
        font-size: 20px;
      }
    }

    .two {
      font-weight: bolder;
      color: #14a1e8;
      font-size: 24px;
      text-transform: uppercase;

      @media(max-width: 600px) {
        font-size: 20px;
      }
    }
  }

  .whySponz {
    max-width: 1400px;
    border-radius: 2.5rem;
    height: fit-content;
    margin: 8rem 10%;
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #00275B;
    gap: 4rem;

    @media(max-width: 1100px) {
      margin: 6rem 2rem;
      padding: 2rem;
      gap: 3.5rem;
    }

    @media(max-width: 600px) {
      gap: 20px;
    }

    h3 {
      font-size: 40px;
      color: #14a1e8;
      font-weight: bolder;
      padding-bottom: 30px;
      text-align: center;

      @media(max-width: 600px) {
        font-size: 30px;
        padding-bottom: 0px;
      }
    }

    .whySponzContent {
      display: flex;
      flex-direction: row;
      gap: 4rem;

      @media(max-width: 850px) {
        flex-direction: column-reverse;
      }

      p {
        font-family: "Inter";
        color: #000;
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;

        @media(max-width: 600px) {
          font-size: 14px;
          line-height: 26px;
        }
      }

      .pic1 {
        width: 400px;
        height: auto;

        @media(max-width: 850px) {
          display: none;
        }
      }

      .pic2 {
        height: 250px;
        width: auto;

        @media(max-width: 850px) {
          display: none;
        }
      }

      img {
        object-fit: contain;
      }
    }

    .mobilePic {
      display: none;

      @media(max-width: 850px) {
        display: block;
        height: 300px;
        width: auto;
        border-radius: 1.3rem;
      }

      @media(max-width: 600px) {
        width: calc(100vw - 4rem);
        height: auto;
      }
    }
  }

  .OurSponsors {
    text-align: center;

    p {
      padding: 0 12%;
      font-size: 20px;
      font-family: Inter;
      font-weight: 400;
      margin-bottom: 6rem;
      font-style: italic;

      @media(max-width: 600px) {
        padding: 0 3rem;
        font-size: 16px;
        margin-bottom: 4rem;
      }
    }

    .heading2 {
      font-size: 40px;
      font-family: Inter;
      margin: 4rem auto 4rem auto;
      font-weight: bolder;
      color: #000;

      @media(max-width: 600px) {
        font-size: 32px;
        margin-bottom: 3rem;
      }
    }
  }

  .brochure {
    width: 100%;
    background-color: #d5dfef;
    padding: 5%;
    margin-bottom: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      font-size: 40px;
      color: #00275b;
      font-weight: bolder;
      padding-bottom: 30px;
      text-align: center;

      @media(max-width: 600px) {
        font-size: 30px;
        padding-bottom: 25px;
      }
    }

    .brochureContent {
      display: flex;
      flex-direction: row;
      padding: 0 7rem;
      align-items: center;
      gap: 7rem;
      max-width: 1200px;

      @media(max-width: 1050px) {
        padding: 0 2rem;
        gap: 5rem;
      }

      @media(max-width: 600px) {
        flex-direction: column-reverse;
      }

      .brochureLink {
        img {
          cursor: pointer;
        }

        img:hover {
          transition-delay: 0s;
          box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
        }
      }

      .supportWrapper {
        display: flex;
        flex-direction: column;
        gap: 14px;
        font-family: "Inter";

        .supportContent {
          display: flex;
          flex-direction: column;

          h5 {
            font-size: 22px;
            color: #00275b;
            padding-bottom: 6px;

            @media(max-width: 600px) {
              font-size: 20px;
              padding-bottom: 3px;
            }
          }

          p {
            color: #000;
            font-size: 16px;
            line-height: 20px;

            @media(max-width: 600px) {
              font-size: 14px;
              line-height: 18px;
            }
          }
        }
      }
    }
  }
}