header {
  height: 8rem;
}

@media screen and (max-width: 1000px) {

  header {
    height: 7rem;
  }

}


h1 span {
  color: #14a1e8;
}


.sponsorshipContainers {
  display: flex !important;
  align-items: center !important;
  flex-direction: column !important;
  height: fit-content;
  width: 100%;
  overflow-x: hidden;
  background-color: #ffffff;

  .teamPic {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    width: 80%;
    max-width: 1200px;
    cursor: pointer;
    /* transition: transform 2s; */
    overflow: hidden;

    .PicOne {
      border-radius: 2rem;
      height: 100%;
      width: 100%;
    }
  }

  .total {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem 4rem;
    margin-bottom: 7rem;
  }

  .becomeSponz {
    background-color: #d5dfef;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    padding: 4%;
    border-radius: 2.5rem;


    p {
      font-family: "Inter";
      color: #000;
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
    }

    p:first-child {
      padding-bottom: 20px;
    }

    h3 {
      font-size: 40px;
      color: #00275B;
      font-weight: bolder;
      padding-bottom: 30px;
    }

    .one {
      font-weight: 700px;
      color: #000;
      font-size: 24px;
    }

    .two {
      font-weight: bolder;
      color: #14a1e8;
      font-size: 24px;
      text-transform: uppercase;
    }
  }

  .whySponz {
    border-radius: 2.5rem;
    height: fit-content;
    margin: 8rem 10%;
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #00275B;
    gap: 4rem;

    h3 {
      font-size: 40px;
      color: #14a1e8;
      font-weight: bolder;
      padding-bottom: 30px;
      text-align: center;
    }

    .whySponzContent {
      display: flex;
      flex-direction: row;
      gap: 4rem;

      p {
        font-family: "Inter";
        color: #000;
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
      }

      .pic1 {
        width: 400px;
        height: auto;
      }

      .pic2 {
        height: 250px;
        width: auto;
      }

      img {
        object-fit: contain;
      }
    }
  }

  .OurSponsors {
    text-align: center;

    p {
      padding: 0 12%;
      font-size: 20px;
      font-family: Inter;
      font-weight: 400;
      margin-bottom: 6rem;
      font-style: italic;
    }

    .heading2 {
      font-size: 40px;
      font-family: Inter;
      margin: 4rem auto 4rem auto;
      font-weight: bolder;
      color: #000;
    }
  }

  .brochure {
    background-color: #d5dfef;
    padding: 5%;
    margin-bottom: 8rem;

    h3 {
      font-size: 40px;
      color: #00275b;
      font-weight: bolder;
      padding-bottom: 30px;
      text-align: center;
    }

    .brochureContent {
      display: flex;
      flex-direction: row;
      padding: 0 7rem;
      align-items: center;
      gap: 7rem;

      .brochureLink {
        img {
          cursor: pointer;
        }

        img:hover {
          transition-delay: 0s;
          box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
        }
      }

      .supportWrapper {
        display: flex;
        flex-direction: column;
        gap: 14px;
        font-family: "Inter";

        .supportContent {
          display: flex;
          flex-direction: column;

          h5 {
            font-size: 22px;
            color: #00275b;
            padding-bottom: 6px;
          }

          p {
            color: #000;
            font-size: 16px;
            line-height: 20px;
          }
        }
      }
    }
  }
}


@media (max-width: 600px) {

  .total {
    gap: 2rem 3rem;
    margin-bottom: 5rem;
  }

  h1 {
    font-size: 32px;
    font-weight: 650;
  }

  .heading1 {
    margin-top: 8rem;
  }

  .becomeSponz,
  .whySponz,
  .text3,
  .OurSponsors p {
    font-size: 12px;
    line-height: 18px;
  }

  .whySponz {
    margin-top: 3.5rem;
  }

  .whySponz p {
    margin-top: 2.5rem;
  }

  .text3 {
    margin-top: 3.5rem;
  }

  .text3 p {
    margin-top: 2.5rem;
  }

  .one,
  .two {
    font-size: 18px;
  }

  .OurSponsors p {
    margin-bottom: 3rem;
  }

  .OurSponsors .heading2 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }

  .brochureDIV {
    font-size: 15px;
    line-height: 18px;
    padding-left: 15%;
    padding-right: 15%;
  }

  .brochureDIV p {
    width: 100%;
  }

  .brochureDIV .heading3 {
    margin-bottom: 3rem;
  }
}

@media (max-width: 900px) {

  .becomeSponz {
    margin-top: -5rem;
  }

  .becomeSponz {
    margin-left: 0px;
    margin-right: 0px;
    font-size: 16px;
    line-height: 24px;
    padding: 8%;
  }

  .whySponz {
    font-size: 16px;
    line-height: 24px;
    margin-top: 6rem;

    p {
      margin-top: 5rem;
    }
  }

  .text3 {
    font-size: 16px;
    line-height: 24px;
    margin-top: 6rem;

    p {
      margin-top: 5rem;
    }
  }

  .one,
  .two {
    font-size: 24px;
  }
}

@media (max-width: 750px) {
  .sponsorshipContainers {
    .heading1 {
      margin-top: 9rem;
    }

    h1 {
      font-size: 36px;
    }

    .OurSponsors {
      p {
        margin-bottom: 9rem;
      }

      .heading2 {
        margin-top: 5rem;
        margin-bottom: 3rem;
        font-size: 36px;
      }
    }

    .Pic2,
    .Pic3 {
      width: 25rem;
    }
  }
}

@media (max-width: 1000px) {

  .becomeSponz {
    margin-top: -3rem;
  }

  .heading1 {
    margin-top: 11rem;
  }

  .whySponz {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
    margin-bottom: 0px;

    p {
      text-align: center;
      margin-top: 6rem;
      padding-left: 8%;
      padding-right: 8%;
    }
  }

  .text3 {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 8rem;
    padding-right: 0px;
    padding-left: 0px;

    p {
      text-align: center;
      margin-top: 6rem;
      padding-left: 8%;
      padding-right: 8%;
    }
  }

  .OurSponsors {
    .heading2 {
      margin-top: 7rem;
      margin-bottom: 5rem;
    }
  }

  .Pic2,
  .Pic3 {
    width: 28rem;
  }

  .brochureDIV {
    line-height: 25px;
    padding-right: 10%;
    gap: 15%;
  }
}

@media (max-width: 1100px) {
  .heading1 {
    margin-top: 12rem;
  }

  .whySponz,
  .text3 {
    font-size: 18px;
    line-height: 24px;
  }

  .becomeSponz {
    margin-top: -2rem;
  }

  .Pic2,
  .Pic3 {
    width: 32rem;
  }
}

@media (max-width: 600px) {

  .Pic2,
  .Pic3 {
    width: 20rem;
  }
}

@media (max-width: 1300px) {
  .brochureDIV {
    line-height: 28px;
  }
}

@media (max-width: 1150px) {
  .brochureDIV {
    line-height: 27px;
    font-size: 20px;
  }
}

@media (max-width: 1050px) {
  .brochureDIV {
    line-height: 26px;
    font-size: 19px;
  }
}

@media (max-width: 900px) {
  .brochureDIV {
    line-height: 23px;
  }
}

@media (max-width: 850px) {
  .brochureDIV {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0%;
    padding-right: 0%;
    gap: 0%;
    padding-bottom: 7rem;

    img {
      margin-bottom: 4rem;
    }

    p {
      width: 90%;
      padding-left: 5%;
      padding-right: 5%;
    }
  }

  .heading3 {
    margin-bottom: 5rem;
  }
}

@media(max-width: 400px) {

  .total {
    gap: 1.5rem 2rem;
  }
}