.homepageContainer {
  overflow-x: hidden;
}

.heroContainer {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 2;

  video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;

  }

  .heading {
    width: 100%;
    position: absolute;
    bottom: 20%;
    // left: 10%;
    color: #fff;

    h1 {
      text-align: center;
      font-size: 110px;
      font-family: "Orbitron", sans-serif;
      letter-spacing: 4px;
    }

    h6,
    h6 * {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      text-align: center;
      font-weight: 500;
      font-size: 48px;
      opacity: 0.90;
    }

    .mobileHeading {
      display: none;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 500;
      opacity: 0.90;
    }
  }
}

.sponsorContainer {
  height: fit-content;
  overflow: hidden;
  margin-bottom: 10rem;

  h2 {
    font-family: Inter;
    text-align: center;
    color: #000;
    font-size: 55px;
    font-weight: 800;
    margin-bottom: 80px;

    span {
      padding-left: 15px;
      color: #14A1E8;
    }

    @media screen and (max-width: 820px) {
      font-size: 40px;
      margin-top: 0;
      margin-bottom: 30px;
    }

  }

  .sponsoreCard {
    margin: 0px -70px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (max-width: 820px) {
      margin: 0px -24px;
      gap: 5px;
    }

    .sponsorCardUpperRow {
      display: flex;
      gap: 20px;
    }

    .sponsorCardLowerRow {
      display: flex;
      gap: 20px;
    }
  }
}

@media(max-width:1100px) {

  .heroContainer {
    .heading {
      bottom: 7%;

      h1 {
        font-size: 90px;
      }

      h6 {
        font-size: 40px;
      }
    }
  }
}


@media(max-width: 600px) {

  .heroContainer {
    height: 100lvh;

    .heading {

      h1 {
        font-size: 60px;
        font-weight: 700;
      }

      h6 {
        display: none;
      }

      .mobileHeading {
        text-align: center;
        display: block;
        font-size: 30px;
      }
    }
  }

  .sponsorContainer {
    margin-bottom: 6rem;

    h2 {
      font-size: 32px;
      margin-bottom: 20px;
      font-weight: 650;
      text-align: left;
      width: calc(100% - 8rem);
      margin-left: 4rem;
      margin-right: 4rem;
    }
  }
}


@media(max-width: 400px) {

  .heroContainer {
    .heading {
      bottom: 15%;
    }
  }

  .sponsorContainer {
    margin-bottom: 6rem;

    h2 {
      font-size: 32px;
      margin-bottom: 20px;
      font-weight: 650;
      text-align: left;
      width: calc(100% - 6rem);
      margin-left: 3rem;
      margin-right: 3rem;
    }
  }
}