header {
    height: 8rem;

    @media screen and (max-width: 1000px) {
        height: 7rem;
    }
}

.main {
    background-color: #fff;
    height: fit-content;
    padding-top: 3rem;
    padding-bottom: 6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;

    h2 {
        text-align: center;
        font-family: Inter;
        color: #000;
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 40px;

        span {
            padding-left: 15px;
            color: #14A1E8;
        }

        @media screen and (max-width: 820px) {
            font-size: 32px;
            margin-top: 0;
            margin-bottom: 40px;
        }

    }

}

@media (max-width :600px) {
    main {

        h2 {
            font-size: 32px;
            font-weight: 650;
        }
    }
}


