.infoContainer {
    height: fit-content;
    width: calc(100% - 80px);
    margin-left: 40px;
    margin-right: 40px;
    border: 3px solid #E2E8F0;
    border-radius: 40px;
    padding: 34px;
    background-color: #F8FAFC;

    h2 {
        font-size: 38px;
        margin-bottom: 30px;
        color: #00275B;
        font-weight: 700;
        font-family: Inter;
        text-align: center;
        margin-top: 10px;
    }
    p {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 1.3rem;
    }
}

@media(max-width: 600px) {

    .infoContainer {
        height: fit-content;
        width: calc(100% - 60px);
        margin-left: 30px;
        margin-right: 30px;
        border: 3px solid #E2E8F0;
        border-radius: 30px;
        padding: 16px;
        background-color: #F8FAFC;
    
        h2 {
            font-size: 22px;
            margin-bottom: 20px;
            margin-top: 10px;
        }
        p {
            font-size: 13px;
            line-height: 25px;
            margin-bottom: 1rem;
        }
    }
}